/* * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h3 {
    color: #f52936;
}

#login {
    background-color: white;
}

#signup{
    color: white;
    background-color: #f52936;
}

.upvote {
    background-color: #f52936;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
} */

* {
    font-family: 'Courier New', Courier, monospace;
    text
}

h1 {
    color: #1b74e4;
}

#searchbtn {
    background-color: black;
    color: white;
}

.btn {
    background-color: aqua;
}