div{
  color: red;
  border: 2px solid black;
  width: 200px;
  height: 100px;
  margin: 50px;
  padding: 20px;
  background-color: lightblue;
  transition: ease-in 1s ;
}
div:hover{
  background-color: yellow;
}