.card {
    width: 250px;
    margin: 50px auto;
    padding: 40px;
    font-family: poppins, sans-serif;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
.card a{
    text-decoration: none;
    color: antiquewhite;
    background-color: rgb(0, 166, 255);
    padding: 5px;
}