/* * {
    font-family: 'Segoe UI';
}

h3,
h1 {
    color: #000000 !important;
}

#login{
    background-color: white;

}

#signup{
    background-color: #b92b37;
    color:white;
}

.follow{
    color:red;
}
span button{
    background-color: orange;
    color:whitesmoke;
}

p+h3{
    text-decoration: underline;
}

button:hover {
    color: white;
    background-color: black;
}
button:active {
    background-color: grey;
}

input[type="radio"]:checked + label {
 color: rgb(238, 0, 255);
}

h1::first-letter {
    font-size: 100%;
    color: blue;
}

h3::selection{
background-color: yellow;
color: black;
} */

*{
   text-align: center;
}
#mainTopic{
    color:red;
    font-style: Gorgia;
}
.para{
    background-color: cornflowerblue;
    color:white;
}

div button:hover{
    background-color: yellow;
    color:azure;
}
.para:nth-of-type(3){
    font-size: 20px;
}