* {
    font-family: 'Segoe UI';
}

h3,
h1 {
    color: #b92b37;
}

#login{
    background-color: white;

}

#signup{
    background-color: #b92b37;
    color:white;
}

.follow{
    color:red;
}
span button{
    background-color: orange;
    color:whitesmoke;
}

p+h3{
    text-decoration: underline;
}

button:hover {
    color: white;
    background-color: black;
}
button:active {
    background-color: grey;
}

input[type="radio"]:checked + label {
 color: rgb(238, 0, 255);
}
