* {
    font-family: 'Segoe UI';
}

h3,
h1 {
    color: #b92b37;
}

#login{
    background-color: white;

}

#signup{
    background-color: #b92b37;
    color:white;
}

.follow{
    color:red;
}
span button{
    background-color: orange;
    color:whitesmoke;
}

p+h3{
    text-decoration: underline;
}

